{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "arrowFunctions": true,
      "classes": true
    },
     "env": {
      "es6": true
    }
  },
  "extends": "airbnb",
  "plugins": [
    "babel",
    "react"
  ],
  "rules": {
    "arrow-parens": ["off"],
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "generator-star-spacing": "off",
    "global-require": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/no-named-as-default": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-bitwise": "off",
    "no-console": ["warn", { allow: ["info", "warn", "error"] }],
    "no-param-reassign": ["error", { "props": false }],
    "no-trailing-spaces": "off",
    "no-undef": "off",
    "no-unused-vars": ["error", { "args": "none" }],
    "no-use-before-define": "off",
    "no-restricted-globals": "off",
    "object-shorthand": ["warn", "always"],
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "react/forbid-prop-types": "off",
    "react/jsx-boolean-value": "warn",
    "react/jsx-closing-bracket-location": "warn",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-key": "error",
    "react/jsx-no-bind": ["off", {ignoreRefs: true}],
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-no-undef": "error",
    "react/jsx-pascal-case": "warn",
    "react/jsx-sort-props": ["warn", {noSortAlphabetically: true}],
    "react/jsx-uses-vars": "warn",
    "react/jsx-wrap-multilines": "warn",
    "react/no-children-prop": "warn",
    "react/no-danger": "warn",
    "react/no-deprecated": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-multi-comp": "warn",
    "react/no-string-refs": "error",
    "react/no-typos": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unused-prop-types": "error",
    "react/no-will-update-set-state": "error",
    "react/prefer-stateless-function": ["warn",{"ignorePureComponents":true}],
    "react/prop-types": "error",
    "react/require-default-props": "error",
    "react/require-optimization": 0,
    "react/self-closing-comp": "warn",
    "react/sort-comp": "warn",
    "react/sort-prop-types": "off",
    "react/no-array-index-key": 0,
    "react/void-dom-elements-no-children": "error",
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0,
  }
}
