@import '../../globals.scss';

.controls {
  position: absolute;
  left: 1em;
  top: 1em;
  background: #666;
  border: 1px solid #333;
  padding: 1em;
  box-sizing: border-box;
  @include flex-column;

  > select {
    margin-bottom: 1em;
  }

  .row, .row-lidar-name {
    width: 100%;
    padding: 0.25em 0;
    box-sizing: border-box;
    @include flex-row;
    justify-content: space-between;

    > .label {
      width: 5em;
      text-align: right;
    }
    
    > .slider {

    }

    > .value {
      width: 5em;
      @include flex-row;
      > input {
        width: 100%;
        text-align: right;
        background: transparent;
        border-style: none;
        // &:focus {
        //   outline: none;
        //   border-style: 1px inset #333;
        // }
      }
      > span {
        width: 1em;
      }
    }
  }

  .buttons {
    width: 100%;
    margin-top: 0.5em;
    @include flex-row;
    justify-content: flex-end;
    
    .save {
      cursor: pointer;
      padding: 0.5em;
      box-sizing: border-box;
      background-color: #339933;
      color: black;
      border-radius: 0.2em;
      border-color: transparent;
      &:focus {
        outline: none;
      }
    }
  }

  .separator {
    width: 100%;
    border-style: groove;
    border-color: rgba(0,0,0,0.2);
    margin: 1em 0;
  }
}