@import "../../globals.scss";

.hslider {
  cursor: pointer;
  position: relative;
  margin: 0 0.3em;

  .track {
    pointer-events: none;
    height: 0.2em;
    margin: 0.5em 0.6em;
    border-radius: 0.1em;
    border: 0.05em solid #666;
    background: linear-gradient(0deg, #999, #666);
  }

  .handle {
    pointer-events: none;
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    margin-top: -1.2em;
    border-radius: 1.2em;
    border: 0.05em solid white;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 1.5px rgba(0,0,0,0.6));
    background: linear-gradient(90deg, white, #f0f0f0);
  }
}